[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
pytest = "*"
pytest-runner = "*"
sklearn = "*"
"pysqlite3" = "*"
chalice = "*"
numpy = "*"
scipy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.6"
